<h1>Stock Trading Simulation</h1>

<div class = "container">

<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
  <li><a data-toggle="tab" href="#menu1">Today</a></li>
  <li><a data-toggle="tab" href="#menu2">Monthly</a></li>
  <li><a data-toggle="tab" href="#menu2">Yearly</a></li>
</ul>

<div class="tab-content">
<div id="home" class="tab-pane fade in active">
  <h3>HOME</h3>
  <p>Weclome, you can view your performance of your portfolio over time 
  or you can buy a stock or sell stocks. But first please Login or sign up 
  for a new account. </p>
</div>
<div id="menu1" class="tab-pane fade">
  <div id='chart-title1'></div>
  <div id='chart1'></div>
</div>
<div id="menu2" class="tab-pane fade">
  <div id='chart-title2'></div>
  <div id='chart2'></div>
</div>
<div id="menu3" class="tab-pane fade">
  <div id='chart-title3'></div>
  <div id='chart3'></div>
</div>
</div>

<h1>Buy a stock</h1>
<%= link_to "Buy Stock", new_table_path(@table), :class => 'btn btn-primary' %>
<h1>All stock</h1>
<%= link_to "See all Stocks", stock_index_path(@stock), :class => 'btn btn-primary' %>




<h1>Current Statement</h1>
<% if !user_signed_in? %>
<%= link_to "Don't have an account? Sign up!", new_user_registration_path, :class => 'btn btn-primary' %>
<% end %>
<% if user_signed_in? %>

<table class="table">
<thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Symbol</th>
    <th scope="col">Shares</th>
    <th scope="col">Current Price</th>
    <th scope="col">Bought @</th>
    <th scope="col">Current Value</th>
    <th scope="col">Current Profit</th>
    <th scope="col">More Info</th>
    <th scope="col">Sell</th>
    <th scope="col">Delete</th>
  </tr>
</thead>
<tbody>
<%total_at_buy = 0%>
<%total_curr_value = 0%>
<%total_profit = 0%>
<% @table.each.with_index do |table,i| %>
  <% if table.user_id == current_user.id %>
    <tr>
      <th scope="row"><%=i+1%></th>
      <td><%= table.symbol %></td>
      <td><%= table.shares %></td>
      <td><%= number_with_precision(table.current_price, :precision => 2, :delimiter => ',') %></td>
      <td><%= number_with_precision(table.buy_price, :precision => 2, :delimiter => ',') %></td>
      <% at_buy = table.shares.to_i * table.buy_price.to_i %>
      <% total_at_buy += at_buy %>
      <% curr_value = table.shares.to_i * table.current_price.to_i %>
      <% total_curr_value += curr_value%>
      <td><%= number_with_precision(curr_value, :precision => 2, :delimiter => ',') %></td>
      <% profit = table.shares.to_i * (table.current_price.to_i-table.buy_price.to_i)  %>
      <% total_profit += profit %>
      <td><%= number_with_precision(profit, :precision => 2, :delimiter => ',') %></td>
      <td><%= link_to "Read More", table_path(table), :class => 'btn btn-defualt' %></td>
      <td><%= button_to("Sell", edit_table_path(table), method: :get, :class => 'btn btn-success')%></td>
      <td><%= button_to("Remove", table_path(table), method: :delete, :class => 'btn btn-danger')%></td>
    </tr>
    <%end%>
<% end %> 
</tbody>
</table>
<h1>Summary:</h1>
<h3>Balance:</h3>
<h3>$<%=current_user.money%></h3>
<table class="table table-bordered">
<thead>
  <tr>
    <th scope="col">Total Stocks Bought</th>
    <th scope="col">Total Current Value</th>
    <th scope="col">Total Profit</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td id="stocks_bought"><%="$" + number_with_precision(total_at_buy, :precision => 2, :delimiter => ',')%></td>
    <td id="current_value"><%="$" + number_with_precision(total_curr_value, :precision => 2, :delimiter => ',')%></td>
    <td id="total_profit"><%="$" + number_with_precision(total_profit, :precision => 2, :delimiter => ',')%></td>
  </tr>
</tbody>
</table>

<% end %> 
</div>