<div class = "container">
<h1>Current Stocks in the S&P 500</h1>
<%= button_to "Update Table", stock_renew_all_path, :method => :get, :class => 'btn btn-primary' %>

<table class="table">
<thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Symbol</th>
    <th scope="col">Sector</th>
    <th scope="col">Price</th>
    <th scope="col">Yearly Low</th>
    <th scope="col">Percent of Yearly Low</th>
    <th scope="col">Last Updated</th>
    <th scope="col">More Info</th>
  </tr>
</thead>
<tbody>


<% @stock.each_with_index do |stock,i| %>
    <tr>
      <th scope="row"><%=i+1%></th>
      <td id="symbol"><%= stock.symbol %></td>
      <td id="sector"><%= stock.sector %></td>
      <td id="current_price"><%= stock.current_price == nil ? nil : '%.2f' % stock.current_price %></td>
      <td id="year_low"><%= stock.year_low == nil ? nil : '%.2f' % stock.year_low %></td>
      <td id="percent_low"><%= stock.current_price == nil || stock.year_low == nil ? nil : '%.2f' % [((stock.current_price/stock.year_low)-1)*100] %></td>
      <td id="sector"><%= stock.updated_at %></td>
      <td><%= link_to "Read More", stock_path(stock), :class => 'btn btn-defualt' %></td>
    </tr>
<% end %>

</tbody>
</div>
</table>
</div>