<div class = "container">
<h1>Suggestions Algorithm I</h1>
<p>&nbsp&nbsp&nbsp This is a suggestion Algorithm used for a Buy and Hold strategy for buying stocks.
It compares a company's stock to it's lowest value (52 week low).
It assumes that a stock that is trading currently for a low price will eventually recover its value in the future
Displays suggestions according to the Industry sector. Stocks trading at their lowest price compared to the last 52  weeks
is considered a good buy. This seems counterintuitive but with good judgment and some data you can gain some new insights</p>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Symbol</th>
      <th scope="col">Price</th>
      <th scope="col">Yearly Low</th>
      <th scope="col">Percent of Yearly Low</th>
      <th scope="col">More Info</th>
    </tr>
  </thead>
  <h3>IT Stocks to buy</h3>
  <tbody>
  <% @stock.each_with_index do |stock,i| %>
      <% percent_low = ((stock.current_price.to_f/stock.year_low.to_f)-1)*100 %> 
      <% if stock.sector == "Information Technology" && percent_low < 10 %>
        <tr>
          <th scope="row"><%=i+1%></th>
          <td><%= stock.symbol %></td>
          <td><%= stock.current_price %></td>
          <td><%= stock.year_low %></td>
          <td><%=  percent_low %></td>
          <td><%= link_to "Read More", stock_path(stock), :class => 'btn btn-defualt' %></td>
        </tr>
      <% end %>
  <% end %>
  </tbody>
</table>

<table class="table">
<thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Symbol</th>
    <th scope="col">Price</th>
    <th scope="col">Yearly Low</th>
    <th scope="col">Percent of Yearly Low</th>
    <th scope="col">More Info</th>
  </tr>
</thead>
<h3>Health Care Stocks to buy</h3>
<tbody>
<% @stock.each_with_index do |stock,i| %>
    <% percent_low = ((stock.current_price.to_f/stock.year_low.to_f)-1)*100 %> 
    <% if stock.sector == "Health Care" && percent_low < 10 %>
      <tr>
        <th scope="row"><%=i+1%></th>
        <td><%= stock.symbol %></td>
        <td><%= stock.current_price %></td>
        <td><%= stock.year_low %></td>
        <td><%=  percent_low %></td>
        <td><%= link_to "Read More", stock_path(stock), :class => 'btn btn-defualt' %></td>
      </tr>
    <% end %>
<% end %>
</tbody>
</table>

<table class="table">
<thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Symbol</th>
    <th scope="col">Price</th>
    <th scope="col">Yearly Low</th>
    <th scope="col">Percent of Yearly Low</th>
    <th scope="col">More Info</th>
  </tr>
</thead>
<h3>Consumer Staples Stocks to buy</h3>
<tbody>
<% @stock.each_with_index do |stock,i| %>
    <% percent_low = ((stock.current_price.to_f/stock.year_low.to_f)-1)*100 %> 
    <% if stock.sector == "Consumer Staples" && percent_low < 10 %>
      <tr>
        <th scope="row"><%=i+1%></th>
        <td><%= stock.symbol %></td>
        <td><%= stock.current_price %></td>
        <td><%= stock.year_low %></td>
        <td><%=  percent_low %></td>
        <td><%= link_to "Read More", stock_path(stock), :class => 'btn btn-defualt' %></td>
      </tr>
    <% end %>
<% end %>
</tbody>
</table>

<table class="table">
<thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Symbol</th>
    <th scope="col">Price</th>
    <th scope="col">Yearly Low</th>
    <th scope="col">Percent of Yearly Low</th>
    <th scope="col">More Info</th>
  </tr>
</thead>
<h3>Consumer Discretionary Stocks to buy</h3>
<tbody>
<% @stock.each_with_index do |stock,i| %>
    <% percent_low = ((stock.current_price.to_f/stock.year_low.to_f)-1)*100 %> 
    <% if stock.sector == "Consumer Discretionary" && percent_low < 10 %>
      <tr>
        <th scope="row"><%=i+1%></th>
        <td><%= stock.symbol %></td>
        <td><%= stock.current_price %></td>
        <td><%= stock.year_low %></td>
        <td><%=  percent_low %></td>
        <td><%= link_to "Read More", stock_path(stock), :class => 'btn btn-defualt' %></td>
      </tr>
    <% end %>
<% end %>
</tbody>
</table>

<table class="table">
<thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Symbol</th>
    <th scope="col">Price</th>
    <th scope="col">Yearly Low</th>
    <th scope="col">Percent of Yearly Low</th>
    <th scope="col">More Info</th>
  </tr>
</thead>
<h3>Utilities Stocks to buy</h3>
<tbody>
<% @stock.each_with_index do |stock,i| %>
    <% percent_low = ((stock.current_price.to_f/stock.year_low.to_f)-1)*100 %> 
    <% if stock.sector == "Utilities" && percent_low < 10 %>
      <tr>
        <th scope="row"><%=i+1%></th>
        <td><%= stock.symbol %></td>
        <td><%= stock.current_price %></td>
        <td><%= stock.year_low %></td>
        <td><%=  percent_low %></td>
        <td><%= link_to "Read More", stock_path(stock), :class => 'btn btn-defualt' %></td>
      </tr>
    <% end %>
<% end %>
</tbody>
</table>

<table class="table">
<thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Symbol</th>
    <th scope="col">Price</th>
    <th scope="col">Yearly Low</th>
    <th scope="col">Percent of Yearly Low</th>
    <th scope="col">More Info</th>
  </tr>
</thead>
<h3>Financial Stocks to buy</h3>
<tbody>
<% @stock.each_with_index do |stock,i| %>
    <% percent_low = ((stock.current_price.to_f/stock.year_low.to_f)-1)*100 %> 
    <% if stock.sector == "Financials" && percent_low < 10 %>
      <tr>
        <th scope="row"><%=i+1%></th>
        <td><%= stock.symbol %></td>
        <td><%= stock.current_price %></td>
        <td><%= stock.year_low %></td>
        <td><%=  percent_low %></td>
        <td><%= link_to "Read More", stock_path(stock), :class => 'btn btn-defualt' %></td>
      </tr>
    <% end %>
<% end %>
</tbody>
</table>

<table class="table">
<thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Symbol</th>
    <th scope="col">Price</th>
    <th scope="col">Yearly Low</th>
    <th scope="col">Percent of Yearly Low</th>
    <th scope="col">More Info</th>
  </tr>
</thead>
<h3>Materials Stocks to buy</h3>
<tbody>
<% @stock.each_with_index do |stock,i| %>
    <% percent_low = ((stock.current_price.to_f/stock.year_low.to_f)-1)*100 %> 
    <% if stock.sector == "Materials" && percent_low < 10 %>
      <tr>
        <th scope="row"><%=i+1%></th>
        <td><%= stock.symbol %></td>
        <td><%= stock.current_price %></td>
        <td><%= stock.year_low %></td>
        <td><%=  percent_low %></td>
        <td><%= link_to "Read More", stock_path(stock), :class => 'btn btn-defualt' %></td>
      </tr>
    <% end %>
<% end %>
</tbody>
</table>

</div>