<!DOCTYPE html>
<html>
  <head>
    <title>StockViewer</title>
    
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'  %>
    <%= stylesheet_link_tag 'c3.css'  %>
    <%= stylesheet_link_tag 'project.css'  %>
    <%= javascript_include_tag 'application' %>   
    </head>

  <body>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "Stock Trading Simulator", home_path, class: "navbar-brand" %>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><%= link_to "Home", home_path%></li>
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Trading Algorithms <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href><%= link_to "Suggestion Algorithm I", stock_suggest_buy_low_path %></a></li>
              <li><a href><%= link_to "Suggestion Algorithm II", suggestion2_path %></a></li>
              <li><a href><%= link_to "Machine Learning Algorithm ", machine_learning_path %></a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li class="active"><a>Current User: <%=current_user.email%> <span class="sr-only">(current)</span></a></li>
        <% end %>
          <li><%= link_to "Log In / New User", new_user_session_path %></li>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </nav>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  
  <%= yield %>

  <footer class="footer">
  <div class="container">
    <span class="font-weight-bold">Stock Market Simulation. Joe Kurokawa 2017</span>
  </div>
</footer>
  </body>


</html>
